.popup__form {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-width: 230px;
}

@media screen and (min-width: 880px) {
    .popup__form {
        min-width: 358px;
    }
}