.popup__close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: -37px;
    right: 0px;
    background-color:rgba(0, 0, 0, 0);
    background-image: url(../../../images/popup__close.svg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    border: none;
    padding: 0;
}

.popup__close:hover {
    cursor: pointer;
    opacity: .6;
    transition: opacity 0.6s;
}


@media screen and (min-width: 880px) {
    .popup__close {
        width: 32px;
        height: 32px;
        top: -41px;
        right: -40px;
    }
}
