.auth__btn-submit {
    padding: 14px 0;
    min-width: 358px; 
    margin-top: 200px;
    background-color: #ffffff;
    border: none;
    border-radius: 2px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    cursor: pointer;
}

.auth__btn-submit:hover {
    opacity: 0.8;
}